{% extends "main/main.html" %} 
{% load static %}

{% block content %}

<div id="wrapper" class="mt-4 px-4 mx-auto max-w-screen-lg">
    <!-- ----------- -->
    <!-- HERO SLIDER -->
    <!-- ----------- -->
    <div class="">
        <div class="slider rounded-xl overflow-hidden relative">
            <div class="slides relative top-0 left-0 pt-[100%] md:pt-0 md:h-[360px] w-full flex transition duration-150 ease-in-out">
                <img src="{% static 'img/1.png' %}" class="slide-image absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" style="opacity: 1" />
                <img src="{% static 'img/2.png' %}" class="slide-image absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
                <img src="{% static 'img/3.png' %}" class="slide-image absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
                <img src="{% static 'img/4.png' %}" class="slide-image absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
                <img src="{% static 'img/5.png' %}" class="slide-image absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
            </div>
            <button class="btn prev absolute top-1/2 left-0 h-full w-[20%] -translate-y-1/2 z-10 text-white text-[24px] hover:bg-black/30 transition-background duration-200 ease-in-out">❮</button>
            <button class="btn next absolute top-1/2 right-0 h-full w-[20%] -translate-y-1/2 z-10 text-white text-[24px] hover:bg-black/30 transition-background duration-200 ease-in-out">❯</button>
        </div>
        <div class="slider-indicators mt-3 flex justify-center space-x-2 mt-2">
            <div class="indicator bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
        </div>

        <div class="mt-3 flex flex-wrap justify-between *:relative *:w-[49%] *:pt-[25%] *:rounded-xl *:overflow-hidden">
            <div class="bg-cover" style="background-image: url('{% static 'img/4.png' %}')"></div>
            <div class="bg-cover" style="background-image: url('{% static 'img/3.png' %}')"></div>
        </div>
    </div>

    <!-- --------- -->
    <!-- MENU GRID -->
    <!-- --------- -->
    <a id="menu"></a>
    <div class="mt-16">
        <div class="flex gap-2 items-center *:text-[36px] *:md:text-[48px] *:leading-[36px]">
            <span class="material-symbols-outlined"> fastfood </span>
            <h1 class="promo">МЕНЮ</h1>
            <div class="w-full border-b border-2"></div>
        </div>

        <div class="mt-4 grid grid-cols-2 md:grid-cols-3 gap-4">

            {% for c in categories %}
            <!-- CATEGORY SAMPLE -->
            {% if c.image %}
            <div class="relative w-full pt-[100%] bg-cover bg-center rounded-xl overflow-hidden" style="background-image: url('{{ c.image.url }}')">
            {% else %}
            <div class="relative w-full pt-[100%] bg-cover bg-center rounded-xl overflow-hidden" style="background-image: url('{% static "img/placeholder.png" %}')">
            {% endif %}
                <div class="promo absolute top-0 z-10 w-full text-center text-[32px] md:text-[48px]">{{ c.name }}</div>
                <div class="absolute top-0 w-full h-full bg-gradient-to-b from-black/90 via-transparent to-transparent hover:bg-white/10 transition-background duration-100"></div>
            </div>
            {% endfor %}

        </div>
    </div>

    <!-- --------- -->
    <!-- NEW GRID -->
    <!-- --------- -->
    <a id="new"></a>
    <div class="mt-16">
        <div class="flex gap-2 items-center *:text-[36px] *:md:text-[48px] *:leading-[36px]">
            <span class="material-symbols-outlined"> fastfood </span>
            <h1 class="promo">НОВИНКИ</h1>
            <div class="w-full border-b border-2"></div>
        </div>

        <div class="mt-4 flex flex-col md:grid md:grid-cols-2 gap-4 *:h-40">

            {% for p in products %}
            <!-- NEW SAMPLE -->
            <div class="flex rounded-xl overflow-hidden">
                {% if p.image %}
                <img class="w-1/2 object-center object-cover" src="{{ p.image.url }}"></img>
                {% else %}
                <img class="w-1/2 object-center object-cover" src="{% static "media/placeholder.png" %}"></img>
                {% endif %}
                <div class="w-1/2 px-4 py-2 flex flex-col justify-start bg-[#1f2734] font-semibold">
                    <h2 class="md:text-[20px]">{{ p.name }}</h2>
                    <p class="text-[14px] md:text-[16px] text-[#bcbebf]">{{ p.desc }}</p>
                    <div class="mt-auto flex justify-between items-center">
                        <div class="text-[#72b46d]">{{ p.price }} руб.</div>
                        <div class="">

                            {% if request.user.is_authenticated %}
                            <button class="px-4 py-1 flex items-center bg-[#fe6d40] hover:bg-[#c85734] rounded-lg cart-button" data-action="add" data-product="{{ p.id }}">
                                <span class="material-symbols-outlined text-[20px]">
                                    add
                                </span>
                                <span class="material-symbols-outlined text-[20px]">
                                    shopping_cart
                                </span>
                            </button>
                            {% else %}
                            <button class="px-4 py-1 flex items-center bg-[#fe6d40] hover:bg-[#c85734] rounded-lg cart-button">
                                <span class="material-symbols-outlined text-[20px]">
                                    add
                                </span>
                                <span class="material-symbols-outlined text-[20px]">
                                    shopping_cart
                                </span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <a href="" class="block w-1/3 py-2 mx-auto mt-4 bg-[#fe6d40] hover:bg-[#c85734] rounded-xl text-center font-bold stat">Все новинки</a>
    </div>

    <!-- ------------ -->
    <!-- REVIEWS GRID -->
    <!-- ------------ -->
    <a id="reviews"></a>
    <div class="mt-16">
        <div class="flex gap-2 items-center *:text-[36px] *:md:text-[48px] *:leading-[36px]">
            <span class="material-symbols-outlined"> fastfood </span>
            <h1 class="promo">ОТЗЫВЫ</h1>
            <div class="w-full border-b border-2"></div>
        </div>

        <div id="y_reviews" class="">
            <div class="mx-auto mt-4 h-[1024px] max-w-screen-md" style="overflow: hidden; position: relative">
                <iframe style="width: 100%; height: 100%; border: 1px solid #e6e6e6; border-radius: 8px; box-sizing: border-box" src="https://yandex.ru/maps-reviews-widget/224428883810?comments"></iframe>
                <a
                    href="https://yandex.ru/maps/org/sushi_ok/224428883810/"
                    target="_blank"
                    style="
                        box-sizing: border-box;
                        text-decoration: none;
                        color: #b3b3b3;
                        font-size: 10px;
                        font-family: YS Text, sans-serif;
                        padding: 0 20px;
                        position: absolute;
                        bottom: 8px;
                        width: 100%;
                        text-align: center;
                        left: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        max-height: 14px;
                        white-space: nowrap;
                        padding: 0 16px;
                        box-sizing: border-box;
                    "
                >
                    Суши-Ок на карте Санкт‑Петербурга и Ленинградской области — Яндекс Карты
                </a>
            </div>
        </div>
    </div>

    <!-- ---------- -->
    <!-- ABOUT GRID -->
    <!-- ---------- -->
    <a id="about"></a>
    <div class="mt-16">
        <div class="flex gap-2 items-center *:text-[36px] *:md:text-[48px] *:leading-[36px]">
            <span class="material-symbols-outlined"> fastfood </span>
            <h1 class="promo whitespace-nowrap">О НАС</h1>
            <div class="w-full border-b border-2"></div>
        </div>

        <div class="mt-4 flex flex-col md:grid md:grid-cols-2 gap-4">
            <!-- ABOUT SAMPLE -->
            <div class="px-6 py-4 flex flex-col bg-[#1f2734] rounded-xl overflow-hidden">
                <h2 class="text-[32px] font-bold">ДОСТАВКА</h2>
                <p class="text-[#bcbebf]">Бесплатная доставка по Ленинградской области от 1500 рублей</p>
            </div>

            <!-- ABOUT SAMPLE -->
            <div class="px-6 py-4 flex flex-col bg-[#1f2734] rounded-xl overflow-hidden">
                <h2 class="text-[32px] font-bold">ОПЛАТА</h2>
                <p class="text-[#bcbebf]">Бесплатная доставка по Ленинградской области от 1500 рублей</p>
            </div>
        </div>

        {% comment %} <div class="mt-8" style="position: relative; overflow: hidden">
            <iframe
                class="h-[512px] w-full mx-auto rounded-lg overflow-hidden"
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A39c4b231e54d1fc94098d23bc542570be3a85863d832e341476d11016868a55e&amp;source=constructor"
                width="500"
                height="400"
                frameborder="0"
            ></iframe>
        </div> {% endcomment %}

        <div class="mt-8">
            <div class="text-center text-[32px] font-bold">Суши-Ок</div>
            <div class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta autem laudantium illum. Voluptatum dolorem saepe totam eaque minus? Labore ad perferendis, ex assumenda harum eligendi consequatur quam placeat
                repellendus! Quod praesentium odit debitis et perspiciatis dolor voluptates voluptate labore saepe adipisci veniam necessitatibus fugiat laudantium libero, nesciunt nemo qui magni autem eligendi architecto velit? Ullam
                corrupti harum nesciunt id? Aliquid eum fuga dolor? Consequatur ad qui sequi alias, itaque enim assumenda. Repellendus sequi, iste eligendi facere eum harum repudiandae expedita consequatur itaque fuga error, pariatur quo
                ducimus maiores similique.
            </div>
        </div>

        <div class="slider-2 mt-8 rounded-xl overflow-hidden relative">
            <div class="slides-2 relative top-0 left-0 pt-[100%] md:pt-0 md:h-[360px] w-full flex transition duration-150 ease-in-out">
                <img src="{% static 'img/6.png' %}" class="slide-image-2 absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" style="opacity: 1" />
                <img src="{% static 'img/7.png' %}" class="slide-image-2 absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
                <img src="{% static 'img/8.png' %}" class="slide-image-2 absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
                <img src="{% static 'img/9.png' %}" class="slide-image-2 absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
                <img src="{% static 'img/10.png' %}" class="slide-image-2 absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out" />
            </div>
            <button class="btn prev-2 absolute top-1/2 left-0 h-full w-[20%] -translate-y-1/2 z-10 text-white text-[24px] hover:bg-black/30 transition-background duration-200 ease-in-out">❮</button>
            <button class="btn next-2 absolute top-1/2 right-0 h-full w-[20%] -translate-y-1/2 z-10 text-white text-[24px] hover:bg-black/30 transition-background duration-200 ease-in-out">❯</button>
        </div>
        <div class="slider-indicators-2 mt-3 flex justify-center space-x-2 mt-2">
            <div class="indicator-2 bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator-2 bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator-2 bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator-2 bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
            <div class="indicator-2 bg-white opacity-50 w-4 h-4 rounded-full cursor-pointer"></div>
        </div>
    </div>

    <!-- ------------ -->
    <!-- CONTACT GRID -->
    <!-- ------------ -->
    <a id="contact"></a>
    <div class="mt-16">
        <div class="flex gap-2 items-center *:text-[36px] *:md:text-[48px] *:leading-[36px]">
            <span class="material-symbols-outlined"> fastfood </span>
            <h1 class="promo">КОНТАКТЫ</h1>
            <div class="w-full border-b border-2"></div>
        </div>

        <div class="mt-8" style="position: relative; overflow: hidden">
            <iframe
                class="h-[512px] w-full mx-auto rounded-lg overflow-hidden"
                src="https://yandex.ru/map-widget/v1/?ll=30.455466%2C60.272662&mode=poi&poi%5Bpoint%5D=30.454784%2C60.272966&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D224428883810&source=serp_navig&tab=reviews&z=18.2"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
            ></iframe>
        </div>

        <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4 *:w-full *:p-4 *:bg-[#1f2734] *:rounded-xl">
            <div class="">
                <h1 class="font-bold">Адрес:</h1>
                <p class="text-[#bcbebf]">Ленинградская область, Всеволожский район, Лесколовское сельское поселение, деревня Лесколово</p>
            </div>
            <div class="w-[47%]">
                <h1 class="font-bold">Реквизиты:</h1>
                <p class="text-[#bcbebf]">ООО «Суши-Ок» ИНН 99999999 ОГРН 9999999999999</p>
            </div>
        </div>
    </div>
</div>

<article class="mt-32 bg-[#161b26]">
    <div id="wrapper" class="px-4 py-12 mx-auto max-w-screen-lg">
        <div class="flex flex-col items-center">
            <span class="material-symbols-outlined text-[48px]"> fastfood </span>
            <a href="tel:+79999999999" class="py-2 text-[24px] font-bold">+7 (999) 999-99-99</a>
            <p>Прием заказов ежедневно</p>
            <p>Пн-Пт с 10:00 до 23:00</p>
            <p>Сб-Вс с 10:00 до 00:00</p>
        </div>
    </div>
</article>


{% endblock content %}